{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <select id="cboPais"></select>   
    <br/>
    <select id="cboCiudad"></select>    
    <br/>
    <h4 id="txtAlcalde"></h4>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
